.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
}

.hide {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
  display: inline;
}

.wrapper {
  position: relative;
  height: 1000px;
}
.circles {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
}
.content {
  position: relative;
  z-index: 100;
  margin: 0 auto;
}

.emoji:hover {
  // animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  // transform: translate3d(0, 0, 0);
  // backface-visibility: hidden;
  perspective: 1000px;
  cursor: default;
  animation: wave 1.25s 1 0s alternate;
  transform-origin: center bottom;
}

@keyframes wave {
  0% {
    transform: rotate(deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.werkje {
  height: 20rem;
  width: 100%;
  background-color: white;
  margin: 1.5rem 0;
  border-radius: 2%;
  box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.05), 0px 8px 32px #11111a0d;
}

.steekwoord {
  margin: 2rem 0;
}
img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .intro {
    max-width: 75%;
  }
  .description {
    max-width: 300px;
  }
  .hide {
    visibility: visible;
    display: inline;
  }
  .show {
    visibility: hidden;
    display: none;
  }
}
